output/
env/
wenv/
wslenv/
build/
.idea/
__pycache__/
*.json
!version.json
*.bak
.some_info**
!.some_info.example
*.csv
*.spec
/dist/**
!/dist/
!/dist/ubuntu/
!/dist/windows/
!/dist/ubuntu/gitleaks-bulk
!/dist/windows/gitleaks-bulk.exe
*.toml
!template_*.toml
